<head>
  <link rel="stylesheet" href="/stylesheets/partials/navbar.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link 
    href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" 
    rel="stylesheet">
</head>
<div class="nav-bar">
  <div class="top-bar">
    <% if (currentUser) { %>
    <a class="profile no-highlight" href="<%= currentUser.url %>">My Profile</a>
    <% }  %> 

    <% if (currentUser) { %>
      <a href="/log-out" class="logout-button no-highlight">Log Out</a>
    <% } else { %>
      <a href="/user/log-in" class="sign-in-button no-highlight">Sign In</a>
    <% } %>
  </div>

  <div class="title-container">
    <a href="/" class="title no-highlight">Secret Posts</a>
  </div>
</div>
