<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partials/navbar"); %>

    <p>Want to delete this post?</p>

    <div class="posts-container">
      <% if (post) { %>
          <%- include("../partials/post", {post: post}); %>
      <% } else { %>
        <p>No posts</p>
      <% } %>
    </div>

    <%# Displays delete confirmation form only if post belongs to the current user or if the current user is an Admin. %>
    <% if (currentUser) { %>
      <% if (currentUser.id == post.user || currentUser.status === "Admin") { %>
      <form method="POST" action="">
        <button type="submit">Delete</button>
      </form>
      <% } %>
    <% } %>
  </body>
</html>
