<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/partials/post.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partials/navbar"); %>

    <div class="posts-container">
      <%- include("../partials/post"); %>
    </div>

    <%# Displays delete button only if post belongs to the current user or if the current user is an Admin. %>
    <% if (currentUser) { %>
      <% if (currentUser.id == post.user.id || currentUser.status === "Admin") { %>
        <a href="<%= post.url %>/delete">Delete Post</a>
      <% } %>
    <% } %>
  </body>
</html>
