/* Adds extra room to bottom of page. */
body {
  margin-bottom: 200px;
}

.admin-account-container {
  display: flex;
  flex-direction: column;

  gap: 15px;

  justify-content: center;
  align-items: center;

  margin: 25px 0;
}

.admin-account-container > * {
  font-size: 3rem;
}

.admin-account-container > a {
  color: black;
  text-decoration: none;

  padding: 15px 10px;

  border: 1px solid black;
  border-radius: 15px;

  background-color: rgb(0, 124, 207);
  color: white;
}

.admin-account-container > a:hover {
  background-color: rgb(0, 72, 121);
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(0, 124, 207);
  color: white;

  font-size: 5rem;

  height: 100px;
  width: 100%;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;

  gap: 50px;

  border: 1px solid black;
  padding: 30px;

  width: 80vw;
  margin: 0 auto;

  background-color: #f2f2f2;
  filter: drop-shadow(0px 4px 2px gray);
}

.form-group {
  display: flex;
  flex-direction: column;

  font-size: 3rem;
  gap: 15px;
}

.form-group input {
  height: 3rem;
  font-size: 3rem;

  padding: 20px;

  border: 3px solid #ccc;
  border-radius: 4px;

  filter: drop-shadow(0px 1px 2px gray);
}

/* Highlights focused input. */
.form-group input:focus {
  border: 3px solid black;
}

.form-group > button[type="submit"] {
  border-radius: 15px;
  font-size: 4rem;
}

.form-group > button[type="submit"]:hover {
  background-color: #ccc;
}

/* Stylings for desktops */
@media (pointer: fine) and (min-width: 600px) {
  .form {
    width: 40vw;
  }

  .form-group label {
    font-size: 1.3rem;
  }

  .form-group input {
    font-size: 1.4rem;
    padding: 5px 15px;
  }
}
