<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
  </head>
  <body>
    <%- include("./partials/navbar"); %>
    
    <% if (currentUser) { %>
    <div class="post-create-section">
      <div class="post-create-container">
        <div class="post-prompt">
          <p>Hello <%= currentUser.username %>,</p>
          <p>Want to post something?</p>
        </div>
        <form action="/post/create" method="POST">
          <textarea name="post" id="post"></textarea>
          <button>Post</button>
        </form>
      </div>
    </div>

    <% } %>
    
    <div class="posts-container">
      <% if (posts.length > 0) { %>
        <% posts.forEach(function(post){ %>
          <%- include("./partials/post", {post: post}); %>
        <% }); %>
      <% } else { %>
      <p>No posts</p>
      <% } %>
    </div>
  </body>
</html>
