<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/delete-user.css">
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partials/navbar"); %>

    <div class="container">
      <p class="delete-prompt">Want to delete this user?</p>
      <p class="delete-prompt">This will delete all of this user's posts.</p>
      <% if (currentUser) { %>
        <% if (currentUser.id == user.id || currentUser.status === "Admin") { %>
            <p class="username">User: <%= user.username %></p>
        <% } %>
      <% } %>
      <%# Displays delete confirmation form only if the user being deleted is the current user  or if the current user is an Admin. %>
      <% if (currentUser) { %>
        <% if (currentUser.id == user.id || currentUser.status === "Admin") { %>
        <form method="POST" action="">
          <button type="submit">Permanantly Delete</button>
        </form>
        <% } %>
      <% } %>
    </div>
  </body>
</html>
