/* Page area containing post form. */
.post-create-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The container of the post form*/
.post-create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 25px;
}

.post-prompt {
  font-family: "Ubuntu Mono", monospace;
  font-size: 2rem;

  padding: 20px 0;
}

.post-create-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.post-create-container > form > textarea {
  border: 1px solid black;
  width: 80vw;
  min-height: 100px;

  font-size: 1.2rem;
  resize: vertical;
  padding: 15px;
}

/* The post button */
.post-create-container > form > button {
  padding: 8px 4px;
  border-radius: 15px;

  width: 40%;

  font-family: "Ubuntu Mono", monospace;
  font-size: 1.4rem;

  background-color: #1a73e8;
  color: white;

  cursor: pointer;
}

/* The post button on hover*/
.post-create-container > form > button:hover {
  background-color: #1250a0;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  margin-bottom: 30px;
}

/* Stylings for desktops */
/* @media (pointer: fine) { */
@media only screen and (min-device-width: 800px) {
  .posts-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
  }

  .post-prompt {
    font-size: 2.2rem;
  }

  .post-create-container > form > textarea {
    width: 50vw;
    font-size: 2rem;
  }

  /* The post button */
  .post-create-container > form > button {
    width: 30%;
    font-size: 2rem;
  }
}
