.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

/* Prevents text highlighting with cursor dragging */
.no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.top-bar {
  position: relative;
  border-bottom: 1px solid black;
  height: 80px;
}

.profile {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  margin-left: 20px;

  font-family: "Ubuntu Mono", monospace;
  font-size: 1.5rem;

  text-decoration: underline;
  color: black;
}

.logout-button,
.sign-in-button {
  /* Centers on right side */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  padding: 12px 24px;
  margin-right: 20px;

  /* Centers text in button */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Removing link styles */
  text-decoration: none;
  color: white;
  background-color: #1a73e8;

  border-radius: 10px;

  font-family: "Ubuntu Mono", monospace;
  font-size: 1.5rem;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
}

.title {
  padding: 10px 5px;
  text-align: center;

  color: black;

  font-family: "Patrick Hand", cursive;
  font-size: 3rem;
  text-decoration: none;
}

/* Stylings for desktops */
@media only screen and (min-device-width: 800px) {
  .top-bar {
    height: 100px;
  }

  .profile {
    font-size: 2rem;
  }

  .logout-button,
  .sign-in-button {
    font-size: 2rem;
  }

  .title-container {
    padding: 15px;
  }

  .title {
    font-size: 5rem;
  }
}
