.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  filter: drop-shadow(2px 2px 2px gray);
}

.post {
  display: flex;
  flex-direction: column;
  gap: 15px;

  border: 1px solid black;
  padding: 15px;

  min-height: 80vw;
  width: 80vw;

  background-color: #feff9c;
}

.post .top {
  padding: 5px 0;
  font-family: "Playfair Display", serif;
}

.author > *,
.post > * {
  text-decoration: none;
  color: black;
  list-style-type: none;

  font-size: 1.2rem;
}

.date {
  border-bottom: 1px solid black;
}

.message {
  cursor: auto;

  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
}

.post-actions-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  margin-top: auto;
}

.post-actions-container .view-post-button,
.post-actions-container .delete-button {
  border: 2px solid black;
  border-radius: 12px;

  text-decoration: none;
  color: black;

  font-family: "Ubuntu Mono", monospace;
  font-size: 1.2rem;
  text-align: center;

  width: 50%;

  padding: 6px 12px;
}

.post-actions-container .delete-button {
  background-color: #d9534f;
  color: white;
}

.post-actions-container .view-post-button:hover {
  background-color: #b5b66f;
}

.post-actions-container .delete-button:hover {
  background-color: #8b3532;
}

/* Stylings for desktops */
@media only screen and (min-device-width: 800px) {
  .posts-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
  }

  .post {
    width: 400px;

    min-height: 400px;
  }

  .author > *,
  .post > * {
    font-size: 2rem;
  }

  .message {
    font-size: 2rem;
  }

  .post-actions-container .view-post-button,
  .post-actions-container .delete-button {
    font-size: 1.5rem;
  }
}
